/* slider container */
.sliderContainer {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   
   background: #20aed6; /* Old browsers */
   background: -moz-linear-gradient(top, #20aed6 0%, #afe3f8 44%, #e1f5fe 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20aed6), color-stop(44%,#afe3f8), color-stop(100%,#e1f5fe)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #20aed6 0%,#afe3f8 44%,#e1f5fe 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #20aed6 0%,#afe3f8 44%,#e1f5fe 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #20aed6 0%,#afe3f8 44%,#e1f5fe 100%); /* IE10+ */
   background: linear-gradient(to bottom, #20aed6 0%,#afe3f8 44%,#e1f5fe 100%); /* W3C */
}

.iosSlider {
   position: relative;
   top: 0;
   left: 0;
   overflow: hidden;
   width: 100%;
   height: 100%;

   background: url(../img/clouds@2x.png) no-repeat top center;
   background-size: 100%;
}

/* slider */
.iosSlider .slider {
   width: 100%;
   height: 100%;
}

/* slide */
.iosSlider .slide {
   float: left;
   width: 100%;
   height: 100%;
   position: relative;
}

#tour h1 {
   text-align: center;
   text-shadow: 0 1px 1px #333;
   color: white;
   margin: 40px 100px 30px;
}
#tour .continueMessage {
    position: absolute;
    bottom: 30px;
/*    -webkit-transform: rotate(-4deg);*/
    background: url(../img/arrow@2x.png) no-repeat left top;
    background-size: 50px 40px;
    margin-bottom: -7px;
}
#tour .slide1 .continueMessage {
   left: 35%;
   padding: 44px 0 0 0;
}
#tour .slide2 .continueMessage {
   left: 35%;
   padding: 44px 0 0 0px;
}
#tour .slide3 .continueMessage {
   left: 20%;
   padding: 52px 0 0 29px;
   background-position: 109px 9px;
}
.indicators {
   position: absolute;
   bottom: 80px;
   left: 0;
   width: 100%;
   height: 10px;
   margin: 0 auto;
   text-align: center;
   z-index: 10;
}
.indicators .center {
   display: inline-block;
}
.indicators .item {
   float: left;
   width: 13px;
   border-radius: 50%;
   height: 13px;
   margin: 0 10px 0 0;
   border: 1px solid #777;
   background: rgba(256,256,256,.8);
   border-width: 1px 2px 2px 1px;
}
.indicators .selected {
   background: #1081a3;
}


/* individual tour slides */
.iosSlider .slide .ui-block-a, 
.iosSlider .slide .ui-block-b, 
.iosSlider .slide .ui-block-c {
   text-align: center;
}
.iosSlider .dot {
   border-radius: 50%;
   display: inline-block;
   box-shadow: 0 2px 2px 1px rgba(0,0,0,.25);
   background: #fff;
   width: 180px;
   height: 180px;
   margin-bottom: 5px;
   background-size: 50%;
}
.iosSlider .dot1 {
   background: #fff url(../img/iPodTouch@2x.png) no-repeat center center;
   background-size: 60%;
}
.iosSlider .dot2 {
   background: #fff url(../img/WWF@2x.png) no-repeat center center;
   background-size: 70%;
}
.iosSlider .dot3 {
   background: #fff url(../img/collegeBond@2x.png) no-repeat right center;
   background-size: 90%;
}

.iosSlider .slide1 .doingThis {
   color: #777;
   font-size: .8em;
   margin-top: 5px;
}
.iosSlider .slide1 .text {
   height: 57px;
}
.iosSlider .slide1 .task > img {
   display: block;
   margin: 10px auto 0;
   max-width: 50px;
   max-height: 50px;
}
.iosSlider .slide1 .task > span {
   font-weight: bold;
   color: #1081a3;
}

.iosSlider .slide2 .simpleSteps .dot {
   float: left;
   margin: 0 20px 0 0;
   width: 50px;
   height: 50px;
   line-height: 50px;
   color: #1081a3;
   text-align: center;
   font-size: 2em;
   font-weight: bold;
}
.iosSlider .slide2 .simpleSteps .text {
   width: 260px;
   margin: 0 auto 20px;
}
.iosSlider .slide2 .simpleSteps .dotText {
   font-weight: bold;
   float: left;
   width: 185px;
   text-align: left;
   margin-top: 3px;
}

.iosSlider .slide3 .testimonialWrapper {
   position: relative;
}
.iosSlider .slide3 .testimonial {
   position: absolute;
}
.iosSlider .slide3 .t1 {
   top: 0;
   left: 30px;
   width: 270px;
}
.iosSlider .slide3 .t2 {
   top: 80px;
   right: 30px;
   width: 300px;
}
.iosSlider .slide3 .t3 {
   top: 242px;
   left: 84px;
   width: 285px;
}
.iosSlider .slide3 .bubble .pointer {
   position: absolute;
   bottom: -45px;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 50px 30px 0 0;
   border-color: #ffffff transparent transparent transparent;
   -webkit-transform: rotate(12deg);
}
.iosSlider .slide3 .t1 .bubble .pointer { right: 63px; }
.iosSlider .slide3 .t2 .bubble .pointer { right: 60px; }
.iosSlider .slide3 .t3 .bubble .pointer {
   left: 83px;
   border-width: 0 30px 50px 0;
   border-color: transparent #ffffff transparent transparent;
   -webkit-transform: rotate(-12deg);
}

.iosSlider .slide3 .bubble {
   text-align: center;
   background: #fff;
   border-radius: 40px;
   padding: 20px;
   box-shadow: 0 2px 2px 1px rgba(0,0,0,.25);
}
.slide3 .name {
   position: absolute;
   bottom: -48px;
   font-weight: bold;
   color: #1081a3;
   left: 30%;
}
.slide3 .t2 .name {
   left: 40%;
}
.slide3 .t3 .name {
   left: 45%;
}

.slide4 {
   text-align: center;
}
#tour .slide4 h1 {
   margin-bottom: 10px;
}
.slide4 h2 {
   color: white;
   margin-top: 0;
   color: #1081a3;
}
.slide4 .stats {
   margin: 10px auto 0;
   max-width: 80%;
}