/* -----------------------
 * Tour/Sign In page
 * -------------------------*/

#nonOptimalSizeCover {
    z-index: 99999;
    background: #eee;
    height: 100%;
}
#nonOptimalSizeCover .verticalWrapper {
    width: 100%;
    height: 100%;
}
#nonOptimalSizeCover .verticalMiddle {
    padding: 0 60px;
}
#nonOptimalSizeCover .nonIpad {
    display: none;
}
#nonOptimalSizeCover .continueNonOptimized {
    color: #aaa;
    text-decoration: underline;
}

#tour {
    height: 100%;
}
#tour > .ui-grid-a {
    height: 100%;
}
#tour .introTour {
    background: #eee;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    position: relative;
}
#tour .signIn {
    width: 30%;
    height: 100%;
    position: relative;
    z-index: 20;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    background: #3799b6; /* Old browsers */
    background: url(../img/texture@2x.png), -moz-linear-gradient(top, #3799b6 0%, #66caea 21%, #67caea 71%, #2f8da9 100%); /* FF3.6+ */
    background: url(../img/texture@2x.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3799b6), color-stop(21%,#66caea), color-stop(71%,#67caea), color-stop(100%,#2f8da9)); /* Chrome,Safari4+ */
    background: url(../img/texture@2x.png), -webkit-linear-gradient(top, #3799b6 0%,#66caea 21%,#67caea 71%,#2f8da9 100%); /* Chrome10+,Safari5.1+ */
    background: url(../img/texture@2x.png), -o-linear-gradient(top, #3799b6 0%,#66caea 21%,#67caea 71%,#2f8da9 100%); /* Opera 11.10+ */
    background: url(../img/texture@2x.png), -ms-linear-gradient(top, #3799b6 0%,#66caea 21%,#67caea 71%,#2f8da9 100%); /* IE10+ */
    background: url(../img/texture@2x.png), linear-gradient(to bottom, #3799b6 0%,#66caea 21%,#67caea 71%,#2f8da9 100%); /* W3C */
    box-shadow: 2px 0 5px rgba(0,0,0,.45);
}

#tour .signIn .logo {
    float: none;
    overflow: hidden;
    text-indent: -9000px;
    width: 240px;
    height: 85px;
    background: transparent url(../img/logo@2x.png) no-repeat;
    background-size: 100%;
    margin-left: 13px;
}
#tour .signIn .tagline {
    color: #1284a6;
    font-size: 1.1em;
    text-align: center;
    text-shadow: 0 1px 1px #9cedff;
    margin: 5px 0 40px;
    font-weight: bold;
}
#tour .signIn .intro {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: .5em;
}
#tour .signIn .error {
    margin-bottom: 15px;
    text-shadow: none;
}
#tour #getStartedFormChildBirthday {
    background: url(../img/calendarIcon.jpg) no-repeat right center;
    background-size: 28px 28px;
}
#tour .birthdayHolder {
    position: relative;
}
#tour #birthdayLabel {
    position: absolute;
    color: #aaa;
    text-shadow: none;
    bottom: 3px;
    z-index: 100;
    background: #fff;
    left: 7px;
    width: 75%;
}
#tour .ui-radio {
    width: 50%;
}
#tour .ui-controlgroup-controls {
    width: 100%;
}
#getStartedForm .birthdayHolder,
#getStartedFormChildGender,
#getStartedForm .ui-submit {
    margin: 15px 0;
}
#getStartedForm .ui-submit {
    margin-top: 20px;
}

/* -----------------------
 * Start Tasks page
 * -------------------------*/
#startTasks {
    position: relative;
    overflow: hidden;
}

.offScreen{
    position:absolute;
    left:-5000px;
}

.logo {
    float: left;
    overflow: hidden;
    text-indent: -9000px;
    width: 160px;
    height: 60px;
    background: transparent url(../img/logo@2x.png) no-repeat;
    background-size: 100%;
    margin-left: 20px;
}
.ui-header .userModule {
  float: right;
  border-left: 1px solid #265465;;
  width: 300px;
}
.ui-header .userModule .avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 15px;
}
.ui-header .userModule .userInfo {
  float: left;
  padding-top: 5px;
  width: 75%;
  position: relative;
}
.ui-header .userModule .dropArrow {
    position: absolute;
    right: 30px;
    top: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #199CC3;
    background: #1abeee;
    text-shadow: 0 1px 2px #2f3e46;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #86e3fe ),to( #1abeee ));
    background-image: -webkit-linear-gradient( #86e3fe,#1abeee );
    background-image: -moz-linear-gradient( #86e3fe,#1abeee );
    background-image: -ms-linear-gradient( #86e3fe,#1abeee );
    background-image: -o-linear-gradient( #86e3fe,#1abeee );
    background-image: linear-gradient( #86e3fe,#1abeee );
}
.ui-header .userModule .dropArrow .arrow {
    width: 23px;
    height: 20px;
    margin-top: 9px;
    background: url(../img/accountArrow@2x.png);
    background-size: 50%;
}
#startTasks .tasksPayGoals {
    height: 100%;
    position: relative;
    left: 50%;
    background: #eee;
}
@-webkit-keyframes slideLeft {
    20% {
        -webkit-transform: translateX(5%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
    80% {
        -webkit-transform: translateX(-55%);
    }
    90% {
        -webkit-transform: translateX(-47%);
    }
}
@-webkit-keyframes slideRight {
    20% {
        -webkit-transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(50%);
    }
    80% {
        -webkit-transform: translateX(55%);
    }
    90% {
        -webkit-transform: translateX(47%);
    }
}

#startTasks .tasksPayGoals.left {
/*    -webkit-animation: slideLeft .7s ease-in-out forwards;*/
    left: 0;
}
#startTasks .tasksPayGoals.right {
/*    -webkit-animation: slideRight .7s ease-in-out forwards;*/
    left: 50%;
}
#startTasks .tasksPayGoals .ui-block-a {
    border-right: 1px solid #265465;
}
#startTasks .tasksPayGoals .ui-block-b {
    border-left: 1px solid #265465;
}
#startTasks .tasksPayGoals .header {
    border-bottom: 2px solid #999;
    position: relative;
}
#startTasks .tasksPayGoals .header .ui-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}
#startTasks .tasksPayGoals .sectionTitle {
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: bold;
}
#startTasks .tasksPayGoals .setAllowance {
    border-top: 2px solid #777;
    background: #ddd url(../img/texture@2x.png);
    padding: 15px 30px 15px 20px;
    position: relative;
}
#startTasks .tasksPayGoals .setAllowance label {
    color: #006d8e;
}
#startTasks .setAllowance input.ui-input-text.ui-slider-input {
    float: right;
    background: #8ab106;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    font-size: 1.2em;
    margin-top: -.6em;
    padding-left: .7em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
#startTasks .setAllowance .dollarSign {
    color: #fff;
    text-shadow: 0 1px 0 #333;
    position: absolute;
    right: 63px;
    bottom: 1.9em;
    display: block;
    z-index: 10;
}
#startTasks .setAllowance .ui-slider-track {
    margin: 0 68px 0 15px;
}
#startTasks #slider-fill-label {
    font-size: 19px;
}
#addTasksForm .ui-btn-shadow.ui-body-a,
#addGoalForm .ui-btn-shadow.ui-body-a {
    margin: .8em 0;
}
#addTasksForm .ui-block-a,
#addGoalForm .ui-block-a {
    width: 65%;
    margin-right: 1%;
}
#addTasksForm .ui-block-b,
#addGoalForm .ui-block-b {
    width: 34%;
    margin-top: -4px;
}
#startTasks .cover {
    position: absolute;
    height: 91%;
    height: calc(100% - 63px);
    left: 0;
    top: 63px;
    width: 50%;
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 35px 0 rgba(0,0,0,.5);
    border: 1px solid #777;
/*    border-radius: 20px;*/
}
#startTasks .cover:before,
#startTasks .cover:after {
    content: "";
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;
    z-index: 100;
    top: 18px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;    
    right: -16px;
    border-left: 15px solid #fff;
    border-right: 1px solid transparent;
}
#startTasks .cover:after {
    z-index: 99;
    border-left-color: #666;
    right: -17px;
}
#startTasks .cover.leftCover:before,
#startTasks .cover.leftCover:after {
    left: auto;
    right: -21px;
    border-left-width: 20px;
    border-right-width: 1px;
    border-left-color: #fff;
    border-right-color: transparent;
}
#startTasks .cover.leftCover:after {
    border-left-color: #666;
    left: auto;
    right: -22px;
}

#startTasks .productCatalog .productsNoResults,
#startTasks .taskCatalog .tasksNoResults{
    display:none;
}

#startTasks .taskCatalog .tasks,
#startTasks .taskCatalog .popularTasks,
#startTasks .tasksPayGoals .selectedTasks,
#startTasks .productCatalog .products,
#startTasks .productCatalog .popularProducts,
#startTasks .tasksPayGoals .selectedProducts {
    height: 483px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#startTasks .bottomSpacer {
    height: 63px;
}
#startTasks .taskCatalog .title,
#startTasks .taskCatalog .altTitle,
#startTasks .productCatalog .title,
#startTasks .productCatalog .altTitle,
#startTasks .addTaskContent .title,
#startTasks .addGoalContent .title,
#startTasks .selectedTasks .taskTitle,
#productDetailsPopup .details .title,
#productDetailsPopup .details .price
{
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: bold;
}
#startTasks .productCatalog .popularProducts .title,
#startTasks .selectedProducts .productTitle,
#startTasks .productCatalog .products .title {
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}
#startTasks .taskCatalog > .title,
#startTasks .taskCatalog > .altTitle,
#startTasks .productCatalog > .title,
#startTasks .productCatalog > .altTitle {
    padding: 0 20px;
    background: #777;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    font-size: 1.5em;
    line-height: 1.7em;
}

#startTasks .taskCatalog .altTitle,
#startTasks .productCatalog .altTitle {
    display:none;
}
#startTasks .taskCatalog .altTitle .backToPopularTasks,
#startTasks .productCatalog .altTitle .backToPopularProducts {
    text-decoration: underline;
    font-weight: normal;
    float: right;
    font-size: .8em;
    line-height: 1.8em;
}
#startTasks .taskCatalog .taskSearchTerm,
#startTasks .productCatalog .productSearchTerm{
    font-weight: bold;
    font-style: italic;
}
#startTasks .taskCatalog .taskTemplate,
#startTasks .taskCatalog .newTaskTemplate,
#startTasks .productCatalog .productTemplate,
#startTasks .productCatalog .addProductTemplate{
    display: none;
}
#startTasks .taskCatalog .taskItem,
#startTasks .selectedTasks .taskItem {
border-bottom: 1px solid #ccc;
border-top: 1px solid #aaa;
padding: 10px 30px;
}
#startTasks .taskCatalog .taskItem:touch,
#startTasks .productCatalog .productItem:touch {
    background: #ddd;
}
#startTasks .taskCatalog .taskItem .addButton {
    width: 40px;
    height: 40px;
    margin: 10px 20px 0 0;
    float: left;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 2em;
    font-weight: bold;

    border: 1px solid #199CC3;
    background: #1abeee;
    text-shadow: 0 1px 2px #2f3e46;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #86e3fe ),to( #1abeee ));
    background-image: -webkit-linear-gradient( #86e3fe,#1abeee );
    background-image: -moz-linear-gradient( #86e3fe,#1abeee );
    background-image: -ms-linear-gradient( #86e3fe,#1abeee );
    background-image: -o-linear-gradient( #86e3fe,#1abeee );
    background-image: linear-gradient( #86e3fe,#1abeee );
}
#startTasks .taskCatalog .taskItem .taskDetails,
#startTasks .taskCatalog .taskItem .icon,
#startTasks .productCatalog .productItem .productDetails,
#startTasks .selectedProducts .productItem .productDetails {
    float: left;
}
#startTasks .taskCatalog .taskItem .icon {
 width: 62px;
 height: 62px;
 margin-right: 10px;
}
#startTasks .taskCatalog .taskItem .taskDetails {
    width: 70%;
}

#startTasks .taskCatalog .taskItem .numKids,
#startTasks .productCatalog .productItem .numKids {
    color: #777;
    font-size: .8em;
}
#configureTasks {
    background: #fff;
}
#configureTasks .taskContent.ui-content {
    min-width: 416px;
}
.closePopupButton,
.closePopupButton.ui-link:visited {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.6em;
    border-radius: 50%;
    background: #ccc;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #333;
    top: -15px !important;
    right: -15px !important;
    box-shadow: 0 0px 4px rgba(0,0,0,.75);
}
#configureTasks .taskTitle,
#customGoalPopup .title {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-size: 1.6em;
}
#configureTasks .hideNonRepeat {
    display:none;
}
#configureTasks .taskRepeatPaymentDetails .resp,
#configureTasks .taskNonRepeatPaymentDetails .resp {
    display: none;
}
#configureTasks .money div.ui-input-text,
#customGoalForm .money div.ui-input-text {
    display: inline-block;
    width: 92%;
}
#configureTasks .money label,
#customGoalForm .money label,
#customGoalForm #newGoalName,
#customGoalForm .goalPhoto label {
    width: 100%;
}
#customGoalPopup-popup .customGoalContent {
    min-width: 500px;
}
#customGoalPopup .editCustomGoalButtonBox{
    display:none;
}
#customGoalPopup #customGoalPreview {
    max-height:250px;
    max-width:250px;
    display:none;
}
#customGoalForm .goalDetails{
    float: left;
    width: 327px;
    margin-right: 40px;
}
#customGoalForm .goalPhoto {
    float: left;
    width: 327px;
    background: #eee;
}
#startTasks .selectedTasks .taskItem .taskDetails {
    float: left;
    width: 84%;
}
#startTasks .selectedTasks .taskItem .icon {
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 10px;
}
#startTasks .selectedTasks .taskItem .recurrance {
    color: #006d8e;
    text-shadow: 0 1px 0 #fff;
}
#startTasks .selectedTasks .taskItem .payment {
    float: right;
}
#startTasks .selectedTasks .taskItem .payment .money {
    color: #000;
    font-weight: bold;
}
#startTasks .selectedTasks .taskItem .payment .allowance {
    color: #8ab106;
}
#startTasks .selectedTasks .taskItem .payment .responsibility {
    font-style: italic;
    color: #777;
}

#startTasks .addGoalContent {
    display: none;
}
#startTasks .footerBar {
    display: none;
}
#startTasks .startTasksFooter {
    display: block;
}

/* Product catalog */

#startTasks .productCatalog .productItem,
#startTasks .selectedProducts .productItem {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #aaa;
    padding: 10px 30px;
}
#startTasks .productCatalog .productItem .productImage,
#startTasks .selectedProducts .productItem .productImage {
    position: relative;
    background: #fff;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    float: left;
    display: table;
}
#startTasks .selectedProducts .productItem .productImage {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
}
#startTasks .productCatalog .productItem .productImage .verticalMiddle,
#startTasks .selectedProducts .productItem .productImage .verticalMiddle {
    width: inherit;
    height:inherit;
    text-align: center;
}
#startTasks .productCatalog .productItem .productDetailsIcon,
#startTasks .selectedProducts .productItem .productDetailsIcon {
    position: absolute;
    top: -2px;
    left: -5px;
    opacity: .8;
    z-index: 10;
    width: 19px;
    height: 19px;
}
#startTasks .productCatalog .productItem .thumbnail,
#startTasks .selectedProducts .productItem .thumbnail {
    max-height: 100%;
    max-width: 100%;
}
#startTasks .productCatalog .productItem .productDetails {
    width: 64%;
}
#startTasks .selectedProducts .productItem .productDetails {
    width: 72%;
}
.productCatalog .price {
    margin-bottom: 5px;
    font-size: 1.3em;
}

/* Product details popup */
#productDetailsPopup {
    background: #fff;
}
#productDetailsPopup .images {
    float: left;
    margin-right: 20px;
}
#productDetailsPopup .mainImage .verticalMiddle {
    width: 300px;
    height: 300px;
    text-align: center;
}
#productDetailsPopup .mainImage img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
#productDetailsPopup .details {
    float: left;
}
#productDetailsPopup .details p {
    margin: .5em 0;
}
#productDetailsPopup .altImages.populated {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #ccc;
}
#productDetailsPopup .altWrapper {
    margin-right: 25px;
    border: 1px solid #ccc;
    margin-top: 2px;
    float: left;
}
#productDetailsPopup .altWrapper .verticalMiddle {
    width: 80px;
    height: 80px;
}
#productDetailsPopup .fourAcross .altWrapper {
    margin-right: 9px;
}
#productDetailsPopup .fourAcross .altWrapper .verticalMiddle {
    width: 65px;
    height: 65px;
}
#productDetailsPopup .altWrapper.selected {
    margin-top: 0;
    border: 3px solid #777;
}
#productDetailsPopup .altWrapper:last-child {
    margin-right: 0;
}
#productDetailsPopup .altWrapper .verticalMiddle {
    text-align: center;
}
#productDetailsPopup .altImages img {
    max-width: 100%;
    max-height: 100%;
}
#productDetailsPopup .moneyTime {
    margin: .5em 0 20px;
}
#productDetailsPopup .timeToEarn {
    color: #f93d22;
    padding-left: 10px;
    display: inline-block;
    position: relative;
}
#productDetailsPopup .timeToEarn .time {
    border-bottom: 1px dotted #f93d22;
    font-size: 1.2em;
}
#productDetailsPopup .timeToEarnTooltip {
    display: block;
    z-index: 10;
    position: absolute;
    left: 20px;
    top: -5px;
    width: 200px;
    padding: 10px;
    border: 1px solid #f93d22;
    background: #f9f9f9;
    color: #333;
    font-style: italic;
}

#productDetailsPopup .deleteProductButtonBox{
    display:none;
}

#productDetailsPopup .bottom {
    background: #e9e9e9;
}

/* selected products/goals */
.selectedProducts .timeToEarn {
    color: #777;
    font-size: .9em;
    text-align: right;
    line-height: 1.9em;
}
.selectedProducts .time {
    color: #f93d22;
    font-size: 1.3em;
    font-weight: bold;
}
.selectedProducts .completionBar {
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.85);
    width: 100%;
    height: 38px;
    margin-bottom: 7px;
    position: relative;
    background: #b0b0ae; /* Old browsers */
    background: -moz-linear-gradient(top, #b0b0ae 0%, #e7e7e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0b0ae), color-stop(100%,#e7e7e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b0b0ae 0%,#e7e7e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b0b0ae 0%,#e7e7e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b0b0ae 0%,#e7e7e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b0b0ae 0%,#e7e7e5 100%); /* W3C */
}
.selectedProducts .completionBar .bar {
    border-radius: 4px;
    height: 100%;
    width: 0%;
    background: rgba(250,0,0,.7);
}
.selectedProducts .completionBar .percent {
    color: #fff;
    text-shadow: 0 1px 0 #333;
    font-size: .8em;
    line-height: 38px;
    margin-left: 10px;
    position: absolute;
    width: 90%;
    top: 0;
}
.selectedProducts .completionBar .percent span {
    font-size: 2em;
}
