/* -----------------------
 * Tour/Sign In page
 * -------------------------*/
#tour {
    height: 100%;
}
#tour > .ui-grid-a {
    height: 100%;
}
#tour .introTour {
    background: #eee;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
}
#tour .signIn {
    background: #333;
    color: #eee;
    width: 30%;
    height: 100%;
}


/* -----------------------
 * Start Tasks page
 * -------------------------*/
#startTasks {
    position: relative;
}
#startTasks .tasksPayGoals {
    height: 100%;
    background: #eee;
}
#startTasks .tasksPayGoals .sectionTitle {
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: bold;
}
#startTasks .cover {
    position: absolute;
    height: 91%;
    height: calc(100% - 62px);
    right: 0;
    width: 66%;
    width: calc(100% / 3 * 2);
    background: rgba(3,246,246,.9);
    z-index: 100;
}
#startTasks .cover:before {
    content: "";
    width: 1px;
    height: 1px;
    background: transparent;
    border-left: 1px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgba(3,246,246,.9);
    position: absolute;
    left: -21px;
    top: 40px;
}

#startTasks .addTaskContent .title {
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: bold;
}